//Profile config names for nf-core/configs
params {
  config_profile_description = 'The PrimeMedicine ParallelCluster cluster profile'
  config_profile_contact = 'Katya Kosheleva (kkosheleva@primemedicine.com)'
  config_profile_url = 'N/A'
}

task {
    ext.singularity_pull_docker_container = true
}

singularity {
  enabled = true
  cacheDir = "/mnt/efs/software/singularity/images/nf-core/"
}

process {
  executor = 'slurm'
  queue    = { task.memory <= 7.GB && task.cpus <= 4 ? 'queue1' : 'queue3' }
  errorStrategy = 'retry'
  maxRetries = 3
}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 30.d
}
